.header {
    background: var(--gray-800);
    display: flex ;
    justify-content: center; 
    padding: 1.25rem 0;
    
}

.header img {
    height: 2rem;
    padding: 0 1rem;
}

.header h1 {
    height: 2rem;
    display: flex;
    color: var(--gray-100);
}